## Data Preparation
#### Tristan Chen, Jessica Nguyen, Hera Chan

In [ ]:
# Installing covidcast
!pip install covidcast

Requirement already satisfied: covidcast in /usr/local/lib/python3.7/dist-packages (0.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from covidcast) (3.2.2)
Requirement already satisfied: imageio-ffmpeg in /usr/local/lib/python3.7/dist-packages (from covidcast) (0.4.5)
Requirement already satisfied: imageio in /usr/local/lib/python3.7/dist-packages (from covidcast) (2.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from covidcast) (1.19.5)
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (from covidcast) (0.10.2)
Requirement already satisfied: delphi-epidata>=0.0.11 in /usr/local/lib/python3.7/dist-packages (from covidcast) (0.3.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from covidcast) (1.1.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from covidcast) (4.62.3)
Requirement already satisfied: epiweeks in /usr/local/lib/python3.7/dist-packages (from covidcast) (2.1.3)
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (from covidcast) (1.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from covidcast) (2.23.0)
Requirement already satisfied: tenacity in /usr/local/lib/python3.7/dist-packages (from delphi-epidata>=0.0.11->covidcast) (8.0.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from delphi-epidata>=0.0.11->covidcast) (3.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->covidcast) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->covidcast) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->covidcast) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->covidcast) (3.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (1.7.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (21.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (4.0.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (2.0.8)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (5.2.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (3.10.0.2)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delphi-epidata>=0.0.11->covidcast) (0.13.0)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas->covidcast) (3.2.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas->covidcast) (1.8.20)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas->covidcast) (1.8.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->covidcast) (57.4.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->covidcast) (0.7.2)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->covidcast) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->covidcast) (1.1.1)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->covidcast) (2.5.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->covidcast) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->covidcast) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->covidcast) (2018.9)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from imageio->covidcast) (7.1.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->covidcast) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->covidcast) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->covidcast) (1.3.2)

In [ ]:
from datetime import date
import covidcast

In [ ]:
ca_counties = covidcast.fips_to_name("^06.*", ties_method="all")
ca_counties_fips = ca_counties[0]

# drop first row, because the fips 06000 represents CA
ca_counties_fips.pop("06000")

ad = covidcast.signal('hospital-admissions', 'smoothed_adj_covid19_from_claims', date(2020, 2,20), date(2020, 9, 27), geo_type = "county", geo_values = ca_counties_fips)
ca_counties_1 = ad['geo_value'].unique()

In [ ]:
labels = covidcast.signal('indicator-combination', 'confirmed_incidence_prop', date(2020, 2,20), date(2020, 9, 27), geo_type = "county", geo_values = ca_counties_1)
labels = labels[['geo_value', 'signal', 'time_value', 'value', 'geo_type','data_source']]

We drop 06000 because that represents California, not a county in California.

In [ ]:
doctor_visits = covidcast.signal('doctor-visits', 'smoothed_adj_cli', date(2020, 2,20), date(2020, 9, 27), geo_type = "county", geo_values = ca_counties_1)
doctor_visits = doctor_visits[['geo_value', 'signal', 'time_value', 'value', 'geo_type', 'data_source']]

In [ ]:
hospital_admissions = covidcast.signal('hospital-admissions', 'smoothed_adj_covid19', date(2020, 2,20), date(2020, 9, 27), geo_type = "county", geo_values = ca_counties_1)
hospital_admissions = hospital_admissions[['geo_value', 'signal', 'time_value', 'value', 'geo_type','data_source']]

In [ ]:
hospital_admissionsclaims = covidcast.signal('hospital-admissions', 'smoothed_adj_covid19_from_claims', date(2020, 2,20), date(2020, 9, 27), geo_type = "county", geo_values = ca_counties_1)
hospital_admissionsclaims = hospital_admissionsclaims[['geo_value', 'signal', 'time_value', 'value', 'geo_type','data_source']]

In [ ]:
outpatient_covid = covidcast.signal('chng', 'smoothed_adj_outpatient_covid', date(2020, 2,20), date(2020, 9, 27), geo_type = "county", geo_values = ca_counties_1)
outpatient_covid = outpatient_covid[['geo_value', 'signal', 'time_value', 'value', 'geo_type','data_source']]

## Merging Data

In [ ]:
dataset = covidcast.aggregate_signals([doctor_visits, outpatient_covid, hospital_admissions, hospital_admissionsclaims, labels, doctor_visits, outpatient_covid, hospital_admissions, hospital_admissionsclaims, labels, labels], dt = [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 0])
dataset = dataset.rename(columns = {'doctor-visits_smoothed_adj_cli_0_value':'doctor_visits (t-1)', 
                                    'chng_smoothed_adj_outpatient_covid_1_value':'outpatient_covid (t-1)',
                                    'hospital-admissions_smoothed_adj_covid19_2_value':'hospital_admissions (t-1)', 
                                    'hospital-admissions_smoothed_adj_covid19_from_claims_3_value':'hospital_admissionsclaims (t-1)',
                                    'indicator-combination_confirmed_incidence_prop_4_value':'confirmed_cases_prop (t-1)',
                                    'doctor-visits_smoothed_adj_cli_5_value':'doctor_visits (t-2)',
                                    'chng_smoothed_adj_outpatient_covid_6_value':'outpatient_covid (t-2)',
                                    'hospital-admissions_smoothed_adj_covid19_7_value':'hospital_admissions (t-2)',
                                    'hospital-admissions_smoothed_adj_covid19_from_claims_8_value':'hospital_admissionsclaims (t-2)',
                                    'indicator-combination_confirmed_incidence_prop_9_value':'confirmed_cases_prop (t-2)',
                                    'indicator-combination_confirmed_incidence_prop_10_value':'label'})

In [ ]:
dataset

     geo_value time_value  ...  label  geo_type
0        06001 2020-02-20  ...    0.0    county
1        06007 2020-02-20  ...    0.0    county
2        06013 2020-02-20  ...    0.0    county
3        06019 2020-02-20  ...    0.0    county
4        06029 2020-02-20  ...    0.0    county
...        ...        ...  ...    ...       ...
6685     06097 2020-09-29  ...    NaN    county
6686     06099 2020-09-29  ...    NaN    county
6687     06107 2020-09-29  ...    NaN    county
6688     06111 2020-09-29  ...    NaN    county
6689     06113 2020-09-29  ...    NaN    county

[6690 rows x 14 columns]

In [ ]:
dataset = dataset.loc[(dataset['time_value'] != '2020-02-20') & (dataset['time_value'] != '2020-02-21') & (dataset['time_value'] !='2020-09-28') & (dataset['time_value'] != '2020-09-29')]
dataset.isna().sum()

geo_value                             0
time_value                            0
doctor_visits (t-1)                   0
outpatient_covid (t-1)                0
hospital_admissions (t-1)          1561
hospital_admissionsclaims (t-1)    2475
confirmed_cases_prop (t-1)            0
doctor_visits (t-2)                   0
outpatient_covid (t-2)                0
hospital_admissions (t-2)          1554
hospital_admissionsclaims (t-2)    2481
confirmed_cases_prop (t-2)            0
label                                 0
geo_type                              0
dtype: int64

In [ ]:
# Run this to drop counties with missing values; WARNING will only have ~ 2K DATA IF DONE
v = dataset[dataset['hospital_admissionsclaims (t-1)'].isnull()]
print(v['geo_value'].unique())
print((ca_counties_1))
df = dataset
for i in v['geo_value'].unique():
  df = df[df.geo_value != i]
df

['06007' '06029' '06031' '06047' '06053' '06057' '06077' '06079' '06083'
 '06087' '06095' '06097' '06099' '06107' '06113' '06019' '06041' '06111'
 '06061']
['06001' '06013' '06019' '06037' '06041' '06059' '06061' '06065' '06067'
 '06071' '06073' '06075' '06081' '06085' '06111' '06029' '06083' '06077'
 '06031' '06099' '06047' '06095' '06079' '06097' '06053' '06107' '06057'
 '06007' '06113' '06087']

     geo_value time_value  ...      label  geo_type
60       06001 2020-02-22  ...   0.000000    county
62       06013 2020-02-22  ...   0.000000    county
66       06037 2020-02-22  ...   0.000000    county
71       06059 2020-02-22  ...   0.000000    county
73       06065 2020-02-22  ...   0.000000    county
...        ...        ...  ...        ...       ...
6615     06071 2020-09-27  ...  37.108645    county
6616     06073 2020-09-27  ...  18.242654    county
6617     06075 2020-09-27  ...  11.910852    county
6620     06081 2020-09-27  ...   7.566142    county
6622     06085 2020-09-27  ...  14.057096    county

[2409 rows x 14 columns]

In [ ]:
df.isna().sum()

geo_value                          0
time_value                         0
doctor_visits (t-1)                0
outpatient_covid (t-1)             0
hospital_admissions (t-1)          0
hospital_admissionsclaims (t-1)    0
confirmed_cases_prop (t-1)         0
doctor_visits (t-2)                0
outpatient_covid (t-2)             0
hospital_admissions (t-2)          0
hospital_admissionsclaims (t-2)    0
confirmed_cases_prop (t-2)         0
label                              0
geo_type                           0
dtype: int64

In [ ]:
df

     geo_value time_value  ...      label  geo_type
60       06001 2020-02-22  ...   0.000000    county
62       06013 2020-02-22  ...   0.000000    county
66       06037 2020-02-22  ...   0.000000    county
71       06059 2020-02-22  ...   0.000000    county
73       06065 2020-02-22  ...   0.000000    county
...        ...        ...  ...        ...       ...
6615     06071 2020-09-27  ...  37.108645    county
6616     06073 2020-09-27  ...  18.242654    county
6617     06075 2020-09-27  ...  11.910852    county
6620     06081 2020-09-27  ...   7.566142    county
6622     06085 2020-09-27  ...  14.057096    county

[2409 rows x 14 columns]

In [ ]:
df.loc[df.loc[:,'geo_value'] == '06001', ['time_value','label', 'confirmed_cases_prop (t-1)','confirmed_cases_prop (t-2)']]

     time_value  ...  confirmed_cases_prop (t-2)
60   2020-02-22  ...                    0.000000
90   2020-02-23  ...                    0.000000
120  2020-02-24  ...                    0.000000
150  2020-02-25  ...                    0.000000
180  2020-02-26  ...                    0.000000
...         ...  ...                         ...
6480 2020-09-23  ...                    4.966108
6510 2020-09-24  ...                    6.402091
6540 2020-09-25  ...                    5.444769
6570 2020-09-26  ...                    6.701254
6600 2020-09-27  ...                    4.607112

[219 rows x 4 columns]

In [ ]:
df1 = df.loc[(df['time_value'] != '2020-02-20') & (df['time_value'] != '2020-02-21') & (df['time_value'] !='2020-09-28') & (df['time_value'] != '2020-09-29')]

In [ ]:
df1.columns

Index(['geo_value', 'time_value', 'doctor_visits (t-1)',
       'outpatient_covid (t-1)', 'hospital_admissions (t-1)',
       'hospital_admissionsclaims (t-1)', 'confirmed_cases_prop (t-1)',
       'doctor_visits (t-2)', 'outpatient_covid (t-2)',
       'hospital_admissions (t-2)', 'hospital_admissionsclaims (t-2)',
       'confirmed_cases_prop (t-2)', 'label', 'geo_type'],
      dtype='object')

In [ ]:
df1.columns
columns = ['geo_value', 'time_value', 'doctor_visits (t-1)', 'outpatient_covid (t-1)',
       'hospital_admissions (t-1)', 'hospital_admissionsclaims (t-1)',
       'confirmed_cases_prop (t-1)', 'doctor_visits (t-2)', 'outpatient_covid (t-2)',
       'hospital_admissions (t-2)', 'hospital_admissionsclaims (t-2)',
       'confirmed_cases_prop (t-2)', 'label']
df2 = df1[columns]
df2

     geo_value time_value  ...  confirmed_cases_prop (t-2)      label
60       06001 2020-02-22  ...                    0.000000   0.000000
62       06013 2020-02-22  ...                    0.000000   0.000000
66       06037 2020-02-22  ...                    0.000000   0.000000
71       06059 2020-02-22  ...                    0.000000   0.000000
73       06065 2020-02-22  ...                    0.000000   0.000000
...        ...        ...  ...                         ...        ...
6615     06071 2020-09-27  ...                   14.219629  37.108645
6616     06073 2020-09-27  ...                   12.131814  18.242654
6617     06075 2020-09-27  ...                   10.436175  11.910852
6620     06081 2020-09-27  ...                    9.262001   7.566142
6622     06085 2020-09-27  ...                    6.535771  14.057096

[2409 rows x 13 columns]

In [ ]:
import pandas as pd
df2 = df2.reset_index(drop=True)
df2['time_value'] = pd.to_datetime(df2['time_value'])
df2 = df2.set_index('time_value')

In [ ]:
from google.colab import files
df2.to_csv('training_data.csv') 
files.download('training_data.csv')